@import "bourbon/bourbon"
@import "neat/neat"

//  FONTS
// $fontAwesome: 'fontawesome-webfont', Arial, Sans-serif
// @import url('https://fonts.googleapis.com/css?family=Anton');
// @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,800');

@include font-face("Raleway-Regular", "fonts/Raleway-Regular")
@include font-face("Anton", "fonts/Anton")

// VARIABLES
$anton: 'Anton', sans-serif;
$font: 'Raleway-Regular', sans-serif;

//  COLORS
$white: #ffffff
$black: #000000
$brown: #594a37
$blueGray: #829194
$beige: #f4eacb
$gray: #575756
// EXTENDS CLASSES
.hide
	opacity: 0
	visibility: hidden
.show
	opacity: 1
	visibility: visible
.transDefault
	@include transition(all .2s ease-out);
.circle
	@include border-top-radius(50%)
	@include border-bottom-radius(50%)
.blockCenter
	margin-left: auto
	margin-right: auto
.fleft
	float: left
.fright
	float: right
.clearfix
	clear: both
.borderFive
	@include border-top-radius(10px)
	@include border-bottom-radius(10px)


//  RESPONSIVE GRID
$desktop-lg: new-breakpoint(min-width 993px 16)
$desktop-md: new-breakpoint(max-width 992px 12)
$tablet: new-breakpoint(max-width 768px 10)
$mobile: new-breakpoint(max-width 480px 8)

.gridE
	width: 90%
	@extend .blockCenter

.gridD
	max-width: 960px
	@extend .blockCenter

// RESET

*
	margin: 0
	padding: 0
html
	height: 100%
	object
		display: none
body
	position: relative
	overflow-x: hidden
	font-family: $font
a
	text-decoration: none
a, button, input, textarea
	outline: none

section
	height: 100%
	//height: 100vh
h2
	font-weight: 200
// MSG IE
.msgUpdateIE
	display: none
img
	border: 0

::-webkit-scrollbar
  width: 10px;
  height: 10px;
  background: $white

::-webkit-scrollbar-thumb
  cursor: pointer;
  background: $blueGray;


 
// HEADER FULL MAIN //
#headerMain
	+size(15% 100vh)
	background-color: $blueGray
	+position(fixed, 0 null null 0)
	z-index: 999
	+media($mobile)
		display: none
	.logo
		border-bottom: 2px solid #687476
		img
			margin: 20% auto
			display: block
		@media screen and(max-height:768px)
			img
				margin: 10% auto
		@media screen and(min-width:1920px)
			img
				margin: 15% auto
	.nav
		margin-top: 5%
		ul
			// padding: 0 15%
			padding: 0 25px
			li
				list-style: none
				+size(100% 6vh)
				line-height: 6vh
				border-bottom: 1px solid $white
				position: relative
				
				a
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
					color: $white
					//letter-spacing: 1px
					+transition(all .3s ease)
				&:last-child
					border-bottom: 0
				&.sub-icon
					&:after
						content: ' '
						display: block
						+position(absolute, 38% 15% null null)
						background-image: url(../img/sprite.png)
						+size(40px 16px)
						background-position: 0 -147px
						+transition(all .3s ease)
						opacity: 0
						visibility: hidden
				.sub-nav
					+position(fixed, 0 null null 15%)
					+size(300px 100vh)
					background-color: rgba(244, 234, 203, 0.9)
					padding-top: 5%
					opacity: 0
					visibility: hidden
					+transition(all .3s ease)
					overflow: auto;
					ul
						padding: 0 15%
						li
							border-bottom: 0
							height: auto
							line-height: 12px
							padding: 0
							a
								font-family: $font
								font-size: 14px
								line-height: 32px
								margin-bottom: 10px
								color: $brown
								&:hover
									text-decoration: underline
					@media screen and(max-height:768px)
						padding-top: 5%
						padding-bottom: 5%
				&:hover
					a
						color: $brown
					.sub-nav
						opacity: 1
						visibility: visible
					&.sub-icon
						&:after
							opacity: 1
							visibility: visible
							right: 5%
	.social-nav
		margin-top: 30px
		+size(100% auto)
		text-align: center
		border-top: 2px solid #687476
		border-bottom: 2px solid #687476
		padding: 20px 0
		.social
			a
				margin: 0 10px
				color: $white
				font-size: 26px
		@media screen and(max-height:768px)
			margin-top: 0
			padding: 5% 0
	.adress-nav
		+size(100% auto)
		padding: 20px 0
		text-align: center
		a
			font-family: $anton
			text-transform: uppercase
			font-size: 24px
			color: $white
		@media screen and(max-height:768px)
			padding: 5% 0
			a
				font-size: 20px
	.cta-nav
		+size(100% auto)
		padding: 20px 0
		border-top: 2px solid #687476
		background-color: $beige
		text-align: center
		cursor: pointer
		p
			font-family: $anton
			text-transform: uppercase
			font-size: 24px
			color: $blueGray
// .space-dots
// 	.slick-prev
// 		left: 35.5% !important
// 	.slick-next
// 		left: 40.2% !important

#headerMainMobile
	display: none
	+position(fixed, 0 null null 0)
	+size(100% 70px)
	background-color: $blueGray
	z-index: 99
	border-bottom: 2px solid #687476
	+transition(all .2s ease)
	+media($mobile)
		display: block
	.logo
		+span-columns(5)
		margin: 15px 25px
		img
			max-width: 100%
	.nav
		+size(100% auto)
		padding: 10px 0 0
		background-color: $blueGray
		+position(absolute, 70px null null 100%)
		+transition(all .3s ease)
		ul
			// padding: 0 15%
			padding: 0 75px 0 50px
			li
				list-style: none
				+size(100% 8vh)
				line-height: 8vh
				border-bottom: 2px solid $white
				position: relative
				// padding: 0 25px
				&:last-child
					border-bottom: 0
				a
					font-family: $anton
					text-transform: uppercase
					font-size: 18px
					color: $white
					font-weight: 200
					//letter-spacing: 1px
					+transition(all .3s ease)
				.sub-nav
					+position(fixed, 0 null null 100%)
					+size(300px 100vh)
					background-color: rgba(244, 234, 203, 0.9)
					padding-top: 15%
					+transition(all .3s ease)
					z-index: 9
					opacity: 1
					visibility: visible
					.btn-close-subnav
						+size(62px 15px)
						background-image: url(../img/sprite.png)
						background-position: 0px -388px
						margin-bottom: 20px
						margin-left: 45px
					ul
						padding: 0 15%
						li
							border-bottom: 0
							height: auto
							line-height: 12px
							padding: 0
							a
								font-family: $font
								font-size: 14px
								line-height: 32px
								margin-bottom: 10px
								color: $brown
				&:hover
					a
						color: $brown
		.social-nav-mobile
			text-align: center
			padding: 10px 0
			border-top: 2px solid #687476
			border-bottom: 2px solid #687476
			.social
				a
					color: $white
					font-size: 28px
					margin: 0 15px
	.btn-open-nav
		+size(37px 37px)
		+position(absolute, 20px 30px null null)
		background-image: url(../img/sprite.png)
		background-position: 0 -325px
.opened-nav-mobile
	.nav
		left: 0 !important
.opened-nav-mobile-sub
	.sub-nav
		left: 20% !important

footer
	background-color: $brown
	padding: 60px 0
	+media($mobile)
		padding: 60px 0 90px
	.navs
		+span-columns(9)
		+media($mobile)
			display: none
		.nav
			+size(100%/4 auto)
			float: left
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 25px
				color: $beige
				letter-spacing: 1px
				margin-bottom: 5px
			ul
				li
					list-style: none
					a
						color: $beige
						font-size: 14px
						line-height: 26px
						+transition(all .2s ease)
						&:hover
							padding-left: 5px
			&:last-child
				ul
					li
						margin-bottom: 10px
						padding-right: 100px
						text-align: center;
						a
							color: #a8a197
							font-size: 26px
							&:hover
								padding-left: 0
						&:first-child
							margin-top: 20px
	.adress-footer
		+span-columns(3)
		+media($mobile)
			+span-columns(8)
			padding: 0 15px
		.logo-footer
			opacity: .2
		.adress
			margin-top: 20px
			padding-right: 40px
			margin-bottom: 30px
			p
				font-size: 12px
				color: $beige
				line-height: 22px
				span
					font-weight: 800
.social-mobile
	display: none
	text-align: center
	h2
		font-family: $anton
		text-transform: uppercase
		font-size: 25px
		color: $beige
		letter-spacing: 1px
		margin-bottom: 5px
	ul
		display: block
		margin-top: 20px
		li
			margin-bottom: 10px
			padding-right: 0
			text-align: center;
			display: inline-block
			a
				color: #a8a197
				margin: 0 20px
				font-size: 26px
	+media($mobile)
		display: block
.cta-mobile
	display: none
	+position(fixed, null null 0 0)
	+size(100% 75px)
	z-index: 71
	+media($mobile)
		display: block
	.left
		+size(100%/2 75px)
		float: left
		padding: 0 5px
		background-color: $beige
		display: table
		text-align: center
		h2
			font-family: $anton
			text-transform: uppercase
			font-size: 21px
			color: $blueGray
			display: table-cell
			vertical-align: middle
	.right
		+size(100%/2 75px)
		float: left
		padding: 0 5px
		background-color: $blueGray
		display: table
		text-align: center
		.icon-cta-mobile
			display: table-cell
			vertical-align: middle
			background-image: url(../img/sprite.png)
			+size(25px 35px)
			background-position: 4px -402px
		h2
			font-family: $anton
			text-transform: uppercase
			font-size: 16px
			display: table-cell
			vertical-align: middle
			a
				color: $white
.modal-cta-mobile
	display: none
	+position(fixed, null null -150px 0)
	+size(auto 145px)
	z-index: 70
	background-color: $beige
	margin-left: -15px
	+transition(all .2s ease)
	border-bottom: 2px solid #687476
	+media($mobile)
		display: block
	form
		padding: 20px 40px 20px 50px
		position: relative
		input
			+span-columns(12)
			height: 45px
			padding: 15px
			border: 2px solid $blueGray
			font-family: $font
			font-weight: 100
			font-size: 15px
			margin-bottom: 15px
			background-color: transparent
			color: $blueGray
		button
			+size(35px 30px)
			background-image: url(../img/sprite.png)
			background-position: -162px 2px
			border: 0
			cursor: pointer
			background-color: transparent
			+position(absolute, null 50px -78px null)
.opened-cta-mobile
	.modal-cta-mobile
		bottom: 75px