@import "master"
@import "grid"


/* ## ## ## ## ## INCLUDES ## ## ## ## ## */
/* ## ## ## ## ## INCLUDES ## ## ## ## ## */

//+position()
//+size()
//+transition
//+transform


//+extend()
//+shift()
//+omega()
//+span-columns()
//+outer-container()
//+media

  
/* ## ## ## ## ## HOME ## ## ## ## ## */
/* ## ## ## ## ## HOME ## ## ## ## ## */

.banner-full
	.slide
		.img
			background-image: url(../img/banner-full.jpg)
			+size(100% 100vh)
			background-position: center center
			+media($mobile)
				background-size: 1080px
				background-repeat: no-repeat
				height: 80vh
	.slick-prev
		text-indent: -9999px
		+size(67px 67px)
		background-image: url(../img/sprite.png)
		background-position: 0 0
		border: 0
		cursor: pointer
		+position(absolute, null null 0 15%)
		// margin-left: -35%
		+transition(all .3s ease)
		// display: none !important
		+media($mobile)
			// display: none !important
			left: 0
			+size(27px 27px)
			background-position: -1px -267px
			background-color: transparent
	.slick-next
		text-indent: -9999px
		+size(67px 67px)
		background-image: url(../img/sprite.png)
		background-position: -69px 0px
		border: 0
		cursor: pointer
		+position(absolute, null null 0 20%)
		+transition(all .3s ease)
		// display: none !important
		// left: 70px
		+media($mobile)
			// display: none !important
			left: 30px
			+size(27px 27px)
			background-position: -30px -267px
			background-color: transparent
.about-us-home
	.left
		+span-columns(5)
		+shift(1)
		padding-top: 50px
		margin-left: 5.1%
		padding-right: 30px
		+media($mobile)
			+span-columns(8)
			+shift(0)
			padding-top: 10px
			padding-left: 30px
			padding-right: 15px
		.title
			position: relative
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			+media($mobile)
				h2
					font-size: 25px
				&:before
					top: 14px
					left: -60px
		.content
			padding-top: 0px
			position: relative
			p
				font-family: $font
				font-size: 16px
				line-height: 35px
				margin-bottom: 10px
				text-align: justify
			a
				color: $blueGray
				text-transform: uppercase
				font-weight: 200
				font-size: 14px
				&:after
					content: " "
					display: block
					background-image: url(../img/sprite.png)
					background-position: 0 -75px
					+size(60px 22px)
					+position(absolute, null null 0 40px)
	.right
		margin-top: -30px
		+span-columns(6)
		+media($mobile)
			display: none
.oque-fazemos
	margin-top: 80px
	.left
		+span-columns(5)
		+shift(1)
		margin-left: 5.1%
		+media($mobile)
			display: none
		.thumb-oque
			+span-columns(4)
			+omega(3n)
			margin-bottom: 20px
			min-height: 250px
			img
				max-width: 100%
			h2
				font-weight: 800
				font-size: 16px
				color: #575756
				text-transform: uppercase
				line-height: 24px
				margin-top: 5px
		.more-details
			display: block
			// margin: 600px auto 0
			text-align: center
			clear: both
			a
				font-weight: 200
				color: $beige
				font-size: 20px
				text-transform: uppercase
				background-color: $blueGray
				padding: 10px 25px
	.right
		+span-columns(6)
		background-color: $blueGray
		position: relative
		padding: 30px 0 10px 0
		min-height: 475px
		+media($mobile)
			display: none
		.title
			+shift(1)
			position: relative
			margin-left: 70px
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $beige
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $beige
		.content
			padding-top: 0px
			position: relative
			padding: 0 20px 0 70px
			p
				font-family: $font
				font-size: 16px
				line-height: 32px
				margin-bottom: 10px
				color: $white
				font-weight: 200
				text-align: justify
		.overlay-blue
			+size(80% 100%)
			background-color: $blueGray
			+position(absolute, 0 -80% null null)
	.left-mobile
		+span-columns(12)
		display: none
		background-color: $blueGray
		+shift(0)
		padding: 50px 10px 0
		+media($mobile)
			display: block
		.title
			position: relative
			margin-left: 40px
			margin-bottom: 30px
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 25px
				color: $beige
				&:before
					content: " "
					+position(absolute, 15px null null -65px)
					display: block
					+size(40px 4px)
					background-color: $beige
		.thumb-oque
			+size(85%/2)
			float: left
			margin: 0 10px
			margin-bottom: 20px
			text-align: center
			min-height: 220px
			img
				max-width: 100%
			h2
				font-weight: 800
				font-size: 12px
				color: $beige
				text-transform: uppercase
				line-height: 24px
				margin-top: 5px
		.more-details
			display: block
			margin: 600px auto 0
			text-align: center
			+media($mobile)
				display: none
			a
				font-weight: 200
				color: $beige
				font-size: 20px
				text-transform: uppercase
				background-color: $blueGray
				padding: 10px 25px
.clients
	margin-top: 80px
	position: relative
	margin-bottom: 110px
	+media($mobile)
		display: none
	.gridD
		position: relative
	.title
		position: relative
		+span-columns(11)
		+shift(1)
		margin-left: 5.1%
		margin-bottom: 70px
		clear: both
		h2
			font-family: $anton
			text-transform: uppercase
			font-size: 35px
			color: $brown
		&:before
			content: " "
			+position(absolute, 22px null null -70px)
			display: block
			+size(40px 4px)
			background-color: $blueGray
		+media($mobile)
			margin-left: 40px
			h2
				font-size: 25px
			&:before
				top: 15px
				left: -60px
	.slide-clients
		margin: 45px 0
		// padding: 45px 0
		// border-top: 2px solid $blueGray
		// border-bottom: 2px solid $blueGray
		.slide
			+size(100%/7 95px)
			+transition(all .2s ease)
			+transform(scale(1))
			opacity: .6
			float: left
			img
			&:hover
				+transform(scale(1.05))
				opacity: 1
	.border-top
		+size(85% 2px)
		background-color: $blueGray
		+position(absolute, 80px null null 17%)
		opacity: .5
	.border-bottom
		+size(85% 2px)
		background-color: $blueGray
		+position(absolute, null null -255px 17%)
		opacity: .5

.clients-mobile
	margin-top: 80px
	position: relative
	margin-bottom: 110px
	display: none
	+media($mobile)
		display: block
	.gridD
		position: relative
	.title
		position: relative
		+span-columns(10)
		+shift(0)
		margin-left: 5.1%
		margin-bottom: 50px
		clear: both
		h2
			font-family: $anton
			text-transform: uppercase
			font-size: 35px
			color: $brown
		&:before
			content: " "
			+position(absolute, 22px null null -70px)
			display: block
			+size(40px 4px)
			background-color: $blueGray
		+media($mobile)
			margin-left: 40px
			h2
				font-size: 25px
			&:before
				top: 15px
				left: -60px
	.slide-clients-mobile
		margin: -35px 0
		// padding: 45px 0
		// border-top: 2px solid $blueGray
		// border-bottom: 2px solid $blueGray
		.slide
			+size(100%/7 95px)
			float: left
			img
				opacity: .6
	.border-top
		+size(100% 2px)
		background-color: $blueGray
		+position(absolute, 80px null null 0)
		opacity: .5
	.border-bottom
		+size(100% 2px)
		background-color: $blueGray
		+position(absolute, null null -10px 0)
		opacity: .5
	.slick-prev
		text-indent: -9999px
		background-color: transparent
		+size(20px 35px)
		background-image: url(../img/sprite.png)
		border: 0
		background-repeat: no-repeat
		background-position: 0 -200px
		position: absolute
		left: 10px
		bottom: 25px
	.slick-next
		text-indent: -9999px
		background-color: transparent
		+size(20px 35px)
		background-image: url(../img/sprite.png)
		border: 0
		background-repeat: no-repeat
		background-position: -36px -201px
		right: 10px
		position: absolute
		bottom: 25px

.products-home
	margin-top: 50px
	margin-right: 45px
	+media($mobile)
		display: none
	.title-products
		+span-columns(12)
		height: 140px
		.title
			position: relative
			+span-columns(6)
			+shift(1)
			margin-left: 5.1%
			margin-bottom: 70px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
				letter-spacing: 1px
			p
				font-family: $font
				font-size: 16px
				line-height: 32px
				margin-bottom: 10px
				text-align: justify
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			+media($mobile)
				+span-columns(7)
				margin-left: 35px
				h2
					font-size: 25px
				p
					font-size: 14px
					line-height: 22px
				&:before
					top: 15px
					left: -55px
		.bt-more
			+span-columns(5)
			text-align: center
			padding-top: 70px
			+media($mobile)
				display: none
			a
				font-weight: 200
				color: $beige
				font-size: 20px
				text-transform: uppercase
				background-color: $blueGray
				padding: 10px 25px
	.products
		margin-top: -10px
		min-height: 500px
		.product
			+span-columns(3)
			position: relative
			height: 263px
			max-height: 263px
			overflow: hidden
			img
				+position(absolute, 0 0 0 0)
				+size(100% 100%)
			.title-static
				+transition(all .5s ease)
				+position(absolute, null null 15px 20px)
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
			.overlay-product
				+position(absolute, -100% null null 0)
				+size(100% 100%)
				background-color: rgba($blueGray, .85)
				padding: 25px 20px
				+transition(all .5s ease)
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
					a
						color: $white
				p
					font-family: $font
					font-size: 14px
					line-height: 26px
					margin-bottom: 10px
					color: $white
					text-align: justify
					a
						color: $white
				img
					+size(59px 14px)
					position: relative
			&:hover
				.title-static
					bottom: -35px
				.overlay-product
					top: 0
.products-home-mobile
	margin-top: 50px
	display: none
	+media($mobile)
		display: block
	.title-products
		+span-columns(12)
		height: 140px
		.title
			position: relative
			+span-columns(6)
			+shift(1)
			margin-left: 5.1%
			margin-bottom: 70px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
				letter-spacing: 1px
			p
				font-family: $font
				font-size: 16px
				line-height: 32px
				margin-bottom: 10px
				text-align: justify
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			+media($mobile)
				+span-columns(7)
				margin-left: 35px
				h2
					font-size: 25px
				p
					font-size: 14px
					line-height: 22px
				&:before
					top: 15px
					left: -55px
		.bt-more
			+span-columns(5)
			text-align: center
			padding-top: 70px
			+media($mobile)
				display: none
			a
				font-weight: 200
				color: $beige
				font-size: 20px
				text-transform: uppercase
				background-color: $blueGray
				padding: 10px 25px
	.products-mobile
		margin-top: -10px
		min-height: 360px
		.product-mobile
			// +span-columns(11)
			position: relative
			height: 230px
			max-height: 230px
			overflow: hidden
			margin: 0 10px;
			img
				+position(absolute, 0 0 0 0)
				+size(100% 100%)
			.title-static
				+transition(all .5s ease)
				+position(absolute, null null 15px 20px)
				+media($mobile)
					display: none
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
			.overlay-product
				+position(absolute, 0 null null 0)
				+size(100% 100%)
				background-color: rgba($blueGray, .85)
				padding: 25px 20px
				+transition(all .5s ease)
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
				p
					font-family: $font
					font-size: 14px
					line-height: 26px
					margin-bottom: 10px
					color: $white
					text-align: justify
				img
					+size(59px 14px)
					position: relative
			// &:hover
			// 	.title-static
			// 		bottom: -35px
			// 	.overlay-product
			// 		top: 0
		.slick-prev
			text-indent: -9999px
			background-color: transparent
			+size(20px 35px)
			background-image: url(../img/sprite.png)
			border: 0
			background-repeat: no-repeat
			background-position: 0 -200px
			position: absolute
			left: 10px
			bottom: 95px
		.slick-next
			text-indent: -9999px
			background-color: transparent
			+size(20px 35px)
			background-image: url(../img/sprite.png)
			border: 0
			background-repeat: no-repeat
			background-position: -36px -201px
			right: 10px
			position: absolute
			bottom: 95px
.depo-sec
	//display: none
	+media($mobile)
		display: none
	.img-left
		position: relative
		+span-columns(8)
		img
			max-width: 100%
			position: relative
			z-index: 1
		.overlay-beige
			+position(absolute, null null -35px 0)
			+size(1650px 300px)
			background-color: $beige
	.desc-right
		+span-columns(4)
		position: relative
		z-index: 1
		.title
			position: relative
			// margin-bottom: 70px
			clear: both
			margin-left: 15.1%
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
		.content
			padding-left: 55px
			padding-right: 45px
			p
				font-family: $font
				font-size: 20px
				line-height: 32px
				margin-bottom: 10px
				font-style: italic
.seja-parceiro
	display: none
	+media($mobile)
		display: block
		img
			width: 100%
.form-step
	padding-top: 100px
	+media($mobile)
		display: none
	.left
		+span-columns(3)
	.right
		+span-columns(9)
		.title
			position: relative
			+span-columns(11)
			+shift(1)
			margin-left: 7.1%
			margin-bottom: 15px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
				letter-spacing: 1px
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			p
				font-family: $font
				font-size: 16px
				line-height: 32px
				margin-bottom: 10px
		.form
			form
				padding: 0 10px 0 60px
				position: relative
				margin-right: 30px
				input
					+span-columns(12)
					height: 45px
					padding: 15px
					border: 2px solid $blueGray
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
				textarea
					+span-columns(12)
					padding: 15px
					border: 2px solid $blueGray
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					max-height: 200px
				button, input[type="submit"]
					+size(35px 30px)
					text-indent: -99999px
					background-image: url(../img/sprite.png)
					background-position: -162px 2px
					border: 0
					cursor: pointer
					background-color: transparent
					+position(absolute, null 30px -410px null)
.newsletter-step
	// min-height: 432px
	+media($mobile)
		margin-top: 40px
	.gridD
		position: relative
	.left
		+span-columns(7)
		margin-top: -10px
		background-color: $beige
		padding: 15px 10px
		position: relative
		z-index: 9
		+media($mobile)
			+span-columns(8)
		.title
			position: relative
			+span-columns(12)
			+shift(0)
			// margin-left: 5.1%
			margin-bottom: 20px
			clear: both
			margin-left: 60px
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
				letter-spacing: 1px
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			p
				font-family: $font
				font-size: 16px
				line-height: 32px
				margin-bottom: 10px
			+media($mobile)
				+span-columns(7)
				margin-left: 35px
				h2
					font-size: 25px
				p
					font-size: 14px
					line-height: 22px
				&:before
					top: 15px
					left: -55px
		.form-news
			form
				padding: 0 10px 0 60px
				position: relative
				+media($mobile)
					padding: 0 10px 0 30px
				input
					+span-columns(12)
					height: 45px
					padding: 15px
					border: 2px solid $blueGray
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					background-color: transparent
					+media($mobile)
						font-size: 14px
				textarea
					+span-columns(12)
					padding: 15px
					border: 2px solid $blueGray
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					min-height: 140px
				button, input[type="submit"]
					+size(35px 30px)
					text-indent: -99999px
					background-image: url(../img/sprite.png)
					background-position: -162px 2px
					border: 0
					cursor: pointer
					background-color: transparent
					+position(absolute, null 20px -180px null)
					+media($mobile)
						bottom: -205px

	.overlay-beige
		+position(absolute, null null -432px -180px)
		+size(1440px 442px)
		background-color: $beige
		z-index: -1
		+media($mobile)
			display: none
	.right
		+span-columns(5)
		margin-top: -10px
		background-color: $blueGray
		padding: 15px 0
		position: relative
		z-index: 9
		+media($mobile)
			display: none
		.title
			position: relative
			+span-columns(12)
			+shift(0)
			// margin-left: 5.1%
			margin-bottom: 10px
			clear: both
			padding-left: 60px
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $beige
				letter-spacing: 1px
			&:before
				content: " "
				+position(absolute, 22px null null 0px)
				display: block
				+size(40px 4px)
				background-color: $beige
			p
				font-family: $font
				font-size: 18px
				line-height: 32px
				margin-bottom: 10px
				color: $white
		.faq-form
			form
				padding: 0 30px 0 60px
				position: relative
				margin-right: 15px
				input
					+span-columns(12)
					height: 45px
					padding: 15px
					border: 2px solid $beige
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					background-color: transparent
					color: $beige
				textarea
					+span-columns(12)
					padding: 15px
					border: 2px solid $beige
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					max-height: 140px
					background-color: transparent
					color: $beige
				button, input[type="submit"]
					+size(35px 30px)
					text-indent: -99999px
					background-image: url(../img/sprite.png)
					background-position: -202px 2px
					border: 0
					cursor: pointer
					background-color: transparent
					+position(absolute, null 50px -340px null)
				::-webkit-input-placeholder
				  color: $beige
				::-moz-placeholder
				  color: $beige
				:-ms-input-placeholder
				  color: $beige
				:-moz-placeholder
				  color: $beige
.blog-post
	margin-bottom: 100px
	margin-right: 40px
	+media($mobile)
		display: none
	.center
		+span-columns(12)
		margin-top: 50px
		// background-color: $beige
		padding: 15px 70px
		position: relative
		z-index: 9
		.title
			position: relative
			+span-columns(12)
			+shift(0)
			// margin-left: 5.1%
			margin-bottom: 20px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
				letter-spacing: 1px
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			p
				font-family: $font
				font-size: 16px
				line-height: 32px
				margin-bottom: 10px
	.post
		+span-columns(6)
		position: relative
		height: 300px
		max-height: 300px
		overflow: hidden
		img
			+position(absolute, 0 0 0 0)
			+size(100% 100%)
		.title-static
			+transition(all .5s ease)
			+position(absolute, null null 15px 20px)
			h2
				color: $white
				font-family: $anton
				text-transform: uppercase
				font-size: 20px
		.overlay-product
			+position(absolute, -100% null null 0)
			+size(100% 100%)
			background-color: rgba($blueGray, .85)
			padding: 25px 20px
			+transition(all .5s ease)
			h2
				color: $white
				font-family: $anton
				text-transform: uppercase
				font-size: 20px
				a
					color: $white
			p
				font-family: $font
				font-size: 14px
				line-height: 26px
				margin-bottom: 10px
				color: $white
				a
					color: $white
			img
				+size(59px 14px)
				position: relative
		&:hover
			.title-static
				bottom: -35px
			.overlay-product
				top: 0

.blog-post-mobile
	margin-bottom: 30px
	display: none
	+media($mobile)
		display: block
	.center
		+span-columns(12)
		margin-top: 50px
		// background-color: $beige
		padding: 15px 70px
		position: relative
		z-index: 9
		+media($mobile)
			padding: 15px 0
		.title
			position: relative
			+span-columns(12)
			+shift(0)
			// margin-left: 5.1%
			margin-bottom: 20px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
				letter-spacing: 1px
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			p
				font-family: $font
				font-size: 16px
				line-height: 32px
				margin-bottom: 10px
			+media($mobile)
				+span-columns(7)
				margin-left: 35px
				h2
					font-size: 25px
				p
					font-size: 14px
					line-height: 22px
				&:before
					top: 15px
					left: -55px
	.post-slide-home
		.post-mobile
			// +span-columns(11)
			position: relative
			height: 230px
			max-height: 230px
			overflow: hidden
			margin: 0 10px;
			img
				+position(absolute, 0 0 0 0)
				+size(100% 100%)
			.title-static
				+transition(all .5s ease)
				+position(absolute, null null 15px 20px)
				+media($mobile)
					display: none
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
			.overlay-product
				+position(absolute, 0 null null 0)
				+size(100% 100%)
				background-color: rgba($blueGray, .85)
				padding: 25px 20px
				+transition(all .5s ease)
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
				p
					font-family: $font
					font-size: 14px
					line-height: 26px
					margin-bottom: 10px
					color: $white
				img
					+size(59px 14px)
					position: relative
			// &:hover
			// 	.title-static
			// 		bottom: -35px
			// 	.overlay-product
			// 		top: 0
		.slick-prev
			text-indent: -9999px
			background-color: transparent
			+size(20px 35px)
			background-image: url(../img/sprite.png)
			border: 0
			background-repeat: no-repeat
			background-position: 0 -200px
			position: absolute
			left: 10px
			bottom: 95px
		.slick-next
			text-indent: -9999px
			background-color: transparent
			+size(20px 35px)
			background-image: url(../img/sprite.png)
			border: 0
			background-repeat: no-repeat
			background-position: -36px -201px
			right: 10px
			position: absolute
			bottom: 95px




// CATEGORIA PRODUTOS //
// CATEGORIA PRODUTOS //
// CATEGORIA PRODUTOS //


.categoria-step
	+size(100% 100vh)
	.left
		+span-columns(4)
		+shift(0)
		+media($mobile)
			+span-columns(8)
		.topic-header
			padding: 10% 20px
			border-bottom: 2px solid #687476
			+media($mobile)
				display: none
			ul
				li
					list-style: none
					font-weight: 800
					font-size: 16px
					color: #575756
					text-transform: uppercase
					line-height: 24px
					margin-top: 5px
					&:before
						content: ' '
						display: block
						float: left
						+size(15px 15px)
						margin: 5px 15px
						background-color: $blueGray
		.content-resume-categoria
			+media($mobile)
				padding-left: 20px
			.title
				padding: 20px 0
				+media($mobile)
					padding: 90px 0 20px
				h2
					font-family: $anton
					text-transform: uppercase
					font-size: 42px
					color: $brown
					+media($mobile)
						font-size: 25px
			.content
				padding-right: 20px
				+media($mobile)
					padding-right: 20px
				p
					font-family: $font
					font-size: 14px
					line-height: 26px
					margin-bottom: 10px
					text-transform: uppercase
					text-align: justify
				+media($mobile)
					p
						font-size: 14px
						line-height: 28px
						text-transform: none;
				.more-details
					display: block
					margin: 50px auto 0
					text-align: center
					+media($mobile)
						display: none
					a
						font-weight: 200
						color: $beige
						font-size: 20px
						text-transform: uppercase
						background-color: $blueGray
						padding: 10px 10px
		.content-resume-servicos
			padding-left: 40px
			padding-top: 10vh
			.title
				padding: 20px 0
				h2
					font-family: $anton
					text-transform: uppercase
					font-size: 46px
					color: $brown
			.content
				padding-right: 70px
				p
					font-family: $font
					font-size: 27px
					line-height: 54px
					margin-bottom: 10px
					text-transform: uppercase
				.more-details
					display: block
					margin: 50px auto 0
					text-align: center
					a
						font-weight: 200
						color: $beige
						font-size: 20px
						text-transform: uppercase
						background-color: $blueGray
						padding: 10px 10px
	.right
		+span-columns(8)
		+media($mobile)
			+span-columns(8)
		.banner-categoria-produtos
			.slide
				.img
					background-image: url(../img/banner-full.jpg)
					+size(100% 100vh)
					background-position: center center
					+media($mobile)
						height: 60vh
						background-repeat: no-repeat
						background-size: 650px
.second-step-categorias
	margin-top: 150px
	+media($mobile)
		margin-top: 0
	.left
		+span-columns(6)
		+media($mobile)
			+span-columns(8)
		.title
			position: relative
			+span-columns(11)
			+shift(1)
			margin-left: 11.1%
			margin-bottom: 25px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			+media($mobile)
				+shift(1)
				+span-columns(7)
				h2
					font-size: 25px
				&:before
					top: 17px
					left: -50px
		.post
			+span-columns(12)
			position: relative
			height: 300px
			max-height: 300px
			margin-bottom: 30px
			overflow: hidden
			+media($mobile)
				+span-columns(7)
				height: 220px
				max-height: 220px
				margin: 7%
			img
				+position(absolute, 0 0 0 0)
				+size(100% 100%)
			.title-static
				+transition(all .5s ease)
				+position(absolute, null null 15px 20px)
				+media($mobile)
					display: none
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
			.overlay-product
				+position(absolute, -100% null null 0)
				+size(100% 100%)
				background-color: rgba($blueGray, .85)
				padding: 25px 20px
				+transition(all .5s ease)
				+media($mobile)
					top: 0
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
				p
					font-family: $font
					font-size: 14px
					line-height: 26px
					margin-bottom: 10px
					color: $white
				img
					+size(59px 14px)
					position: relative
			&:hover
				.title-static
					bottom: -35px
				.overlay-product
					top: 0
	.right
		+span-columns(6)
		+media($mobile)
			+span-columns(8)
		.title
			position: relative
			+span-columns(11)
			+shift(1)
			margin-left: 11.1%
			margin-bottom: 25px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			+media($mobile)
				+shift(1)
				+span-columns(7)
				h2
					font-size: 25px
				&:before
					top: 17px
					left: -50px
		.content
			p
				font-family: $font
				font-size: 14px
				line-height: 22px
				margin-bottom: 10px
				padding: 0 30px 0 20px
				text-align: justify
				+media($mobile)
					font-size: 14px
					line-height: 28px
					text-transform: none
					padding: 0 35px
			ul
				padding: 20px 40px
				li
					//list-style: none
					font-size: 12px
					line-height: 20px
					font-weight: 800
			h4
				text-transform: uppercase
				font-size: 18px
				color: #594a37
				padding: 0 20px
				font-weight: 800
				margin-top: 30px
				margin-bottom: 10px
.details-step
	margin-top: 0
	.left
		+span-columns(6)
		+media($mobile)
			+span-columns(8)
		.title
			position: relative
			+span-columns(11)
			+shift(1)
			margin-left: 11.1%
			margin-bottom: 25px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
		.post
			+span-columns(12)
			position: relative
			height: 300px
			max-height: 300px
			margin-bottom: 30px
			overflow: hidden
			+media($mobile)
				+span-columns(7)
				height: 220px
				max-height: 220px
				margin: 7%
			img
				+position(absolute, 0 0 0 0)
				+size(100% 100%)
			.title-static
				+transition(all .5s ease)
				+position(absolute, null null 15px 20px)
				+media($mobile)
					display: none
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
			.overlay-product
				+position(absolute, -100% null null 0)
				+size(100% 100%)
				background-color: rgba($blueGray, .85)
				padding: 25px 20px
				+transition(all .5s ease)
				+media($mobile)
					top: 0
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
				p
					font-family: $font
					font-size: 14px
					line-height: 26px
					margin-bottom: 10px
					color: $white
				img
					+size(59px 14px)
					position: relative
			&:hover
				.title-static
					bottom: -35px
				.overlay-product
					top: 0
		.nav-details
			ul
				li
					list-style: none
					font-weight: 800
					font-size: 16px
					color: #575756
					text-transform: uppercase
					line-height: 24px
					margin-top: 5px
					margin-bottom: 50px
					&:before
						content: ' '
						display: block
						float: left
						+size(45px 45px)
						margin: 5px 15px
						background-color: $blueGray
					span
						text-transform: none
						font-weight: 200
	.right
		+span-columns(6)
		background-color: $blueGray
		padding: 46px 0
		position: relative
		z-index: 9
		+media($mobile)
			display: none
		.title
			position: relative
			+span-columns(12)
			+shift(0)
			// margin-left: 5.1%
			margin-bottom: 30px
			clear: both
			padding-left: 60px
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $beige
				letter-spacing: 1px
			&:before
				content: " "
				+position(absolute, 22px null null 0px)
				display: block
				+size(40px 4px)
				background-color: $beige
		.orcamento-form
			form
				padding: 0 30px 0 60px
				position: relative
				input
					+span-columns(12)
					height: 45px
					padding: 15px
					border: 2px solid $white
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					background-color: transparent
					color: $white
				select
					+span-columns(12)
					height: 45px
					// padding: 15px
					padding-left: 15px
					border: 2px solid $white
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					background-color: transparent
					color: $white
					option
						color: $black
				textarea
					+span-columns(12)
					padding: 15px
					border: 2px solid $white
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					max-height: 140px
					background-color: transparent
					color: $white
				button, input[type="submit"]
					+size(35px 30px)
					text-indent: -99999px
					background-image: url(../img/sprite.png)
					background-position: -202px 2px
					border: 0
					cursor: pointer
					background-color: transparent
					+position(absolute, null 50px -480px null)
				::-webkit-input-placeholder
				  color: $white
				::-moz-placeholder
				  color: $white
				:-ms-input-placeholder
				  color: $white
				:-moz-placeholder
				  color: $white
				.two-colums-form
					+span-columns(12)
					select
						+span-columns(6)
						&.last
							margin-left: 10px
								
// CATEGORIA SERVICOS //
// CATEGORIA SERVICOS //
// CATEGORIA SERVICOS //
.servicos-step
	+size(100% 100vh)
	.left
		+span-columns(4)
		+shift(0)
		+media($mobile)
			+span-columns(8)
		.topic-header
			padding: 10% 20px
			border-bottom: 2px solid #687476
			+media($mobile)
				display: none
			ul
				li
					list-style: none
					font-weight: 800
					font-size: 16px
					color: #575756
					text-transform: uppercase
					line-height: 24px
					margin-top: 5px
					&:before
						content: ' '
						display: block
						float: left
						+size(15px 15px)
						margin: 5px 15px
						background-color: $blueGray
		.content-resume-servicos
			padding-left: 40px
			padding-top: 5vh
			+media($mobile)
				padding-top: 15vh
			.title
				padding: 20px 0
				h2
					font-family: $anton
					text-transform: uppercase
					font-size: 46px
					color: $brown
				+media($mobile)
					&:before
						content: " "
						+position(absolute, 120px null null -20px)
						display: block
						+size(40px 4px)
						background-color: $blueGray
					h2
						font-size: 25px
					&:before
						top: 120px
						left: -10px
			.content
				padding-right: 70px
				p
					font-family: $font
					font-size: 16px
					line-height: 35px
					margin-bottom: 10px
					text-transform: uppercase
					+media($mobile)
						font-size: 18px
						line-height: 28px
				.more-details
					display: block
					margin: 50px auto 0
					text-align: center
					+media($mobile)
						display: none
					a
						font-weight: 200
						color: $beige
						font-size: 20px
						text-transform: uppercase
						background-color: $blueGray
						padding: 10px 10px
	.right
		+span-columns(8)
		padding-top: 7vh
		+media($mobile)
			+span-columns(8)
			padding-top: 5vh
		.title
			position: relative
			+span-columns(11)
			+shift(1)
			margin-left: 9.1%
			margin-bottom: 25px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			+media($mobile)
				+span-columns(7)
				+shift(1)
				h2
					font-size: 25px
				&:before
					top: 17px
					left: -50px
		.content
			p
				font-family: $font
				font-size: 16px
				line-height: 32px
				margin-bottom: 10px
				padding: 0 70px
				text-align: justify
				+media($mobile)
					padding: 0 40px
			h4
				text-transform: uppercase
				font-size: 18px
				color: $brown
				padding: 0 70px
				font-weight: 800
				margin-top: 30px
				margin-bottom: 10px
				+media($mobile)
					padding: 0 40px
.second-step-servicos
	margin-top: 60px
	.left
		+span-columns(6)
		.title
			position: relative
			+span-columns(11)
			+shift(1)
			margin-left: 11.1%
			margin-bottom: 25px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
		.post
			+span-columns(12)
			position: relative
			height: 300px
			max-height: 300px
			margin-bottom: 30px
			overflow: hidden
			img
				+position(absolute, 0 0 0 0)
				+size(100% 100%)
			.title-static
				+transition(all .5s ease)
				+position(absolute, null null 15px 20px)
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
			.overlay-product
				+position(absolute, -100% null null 0)
				+size(100% 100%)
				background-color: rgba($blueGray, .85)
				padding: 25px 20px
				+transition(all .5s ease)
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
				p
					font-family: $font
					font-size: 14px
					line-height: 26px
					margin-bottom: 10px
					color: $white
				img
					+size(59px 14px)
					position: relative
			&:hover
				.title-static
					bottom: -35px
				.overlay-product
					top: 0
	.right
		+span-columns(6)
		.title
			position: relative
			+span-columns(11)
			+shift(1)
			margin-left: 11.1%
			margin-bottom: 25px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
		.content
			p
				font-family: $font
				font-size: 16px
				line-height: 32px
				margin-bottom: 10px
				padding: 0 70px
.details-step-servicos
	margin-top: -100px
	.title-products
		+span-columns(12)
		height: 70px
		.title
			position: relative
			+span-columns(6)
			+shift(1)
			margin-left: 5.1%
			margin-bottom: 20px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
				letter-spacing: 1px
			p
				font-family: $font
				font-size: 16px
				line-height: 32px
				margin-bottom: 10px
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			+media($mobile)
				+span-columns(7)
				+shift(1)
				h2
					font-size: 25px
				&:before
					top: 17px
					left: -50px
		.bt-more
			+span-columns(5)
			text-align: center
			padding-top: 70px
			a
				font-weight: 200
				color: $beige
				font-size: 20px
				text-transform: uppercase
				background-color: $blueGray
				padding: 10px 25px
	.products
		margin-top: -10px
		min-height: 306px
		padding-left: 40px
		+media($mobile)
			display: none
		.product
			+size(100%/5.1)
			float: left
			position: relative
			height: 233px
			max-height: 233px
			overflow: hidden
			margin: 0 2px
			img
				+position(absolute, null 0 0 0)
				+size(100% auto)
			.title-static
				+transition(all .5s ease)
				+position(absolute, null null 15px 20px)
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
			.overlay-product
				+position(absolute, -100% null null 0)
				+size(100% 100%)
				background-color: rgba($blueGray, .85)
				padding: 25px 20px
				+transition(all .5s ease)
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
				p
					font-family: $font
					font-size: 14px
					line-height: 26px
					margin-bottom: 10px
					color: $white
				img
					+size(59px 14px)
					position: relative
			&:hover
				.title-static
					bottom: -35px
				.overlay-product
					top: 0
.destaq-photo
	img
		padding-left: 41px
	+media($mobile)
		img
			padding-left: 0
			max-width: 100%
			height: auto
.aplication-step
	.left
		+span-columns(6)
		background-color: rgba(244, 234, 203, 0.7)
		padding: 130px 0 0
		margin-top: -60px
		position: relative
		padding: 120px 30px 20px
		+media($mobile)
			+span-columns(8)
			margin-top: -4px
			padding: 30px 30px 25px
			background-color: $beige
		.title
			position: relative
			+shift(1)
			margin-left: 12.1%
			margin-bottom: 20px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
				letter-spacing: 1px
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			+media($mobile)
				+span-columns(8)
				+shift(0)
				h2
					font-size: 25px
				&:before
					top: 17px
					left: -50px
		.content
			p
				font-family: $font
				font-size: 18px
				line-height: 32px
				margin-bottom: 30px
				padding: 0 70px
				+media($mobile)
					padding: 0 10px
		.metrics
			padding: 20px 20px
			+span-columns(6)
			+media($mobile)
				display: none
			ul
				li
					list-style: none
					line-height: 24px
					&:first-child
						font-weight: 800
						font-size: 18px
						color: #575756
						text-transform: uppercase
						line-height: 24px
						margin-top: 5px
						&:before
							content: ' '
							display: block
							float: left
							+size(35px 35px)
							margin: 5px 15px
							background-color: $blueGray
							margin-bottom: 80px
			a
				font-weight: 200
				font-size: 14px
				color: #575756
				text-transform: uppercase
				line-height: 24px
				margin-top: 5px
				img
					margin-left: 10px
	.right
		+span-columns(6)
		background-color: $blueGray
		padding: 46px 0
		position: relative
		z-index: 9
		margin-top: 40px
		+media($mobile)
			display: none
		.title
			position: relative
			+span-columns(12)
			+shift(0)
			// margin-left: 5.1%
			margin-bottom: 30px
			clear: both
			padding-left: 60px
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $beige
				letter-spacing: 1px
			&:before
				content: " "
				+position(absolute, 22px null null 0px)
				display: block
				+size(40px 4px)
				background-color: $beige
		.orcamento-form
			form
				padding: 0 30px 0 60px
				position: relative
				input
					+span-columns(12)
					height: 45px
					padding: 15px
					border: 2px solid $white
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					background-color: transparent
					color: $white
				select
					+span-columns(12)
					height: 45px
					// padding: 15px
					padding-left: 15px
					border: 2px solid $white
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					background-color: transparent
					color: $white
					option
						color: $black
				textarea
					+span-columns(12)
					padding: 15px
					border: 2px solid $white
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					max-height: 140px
					background-color: transparent
					color: $white
				button, input[type="submit"]
					+size(35px 30px)
					text-indent: -99999px
					background-image: url(../img/sprite.png)
					background-position: -202px 2px
					border: 0
					cursor: pointer
					background-color: transparent
					+position(absolute, null 50px -480px null)
				::-webkit-input-placeholder
				  color: $white
				::-moz-placeholder
				  color: $white
				:-ms-input-placeholder
				  color: $white
				:-moz-placeholder
				  color: $white
				.two-colums-form
					+span-columns(12)
					select
						+span-columns(6)
						&.last
							margin-left: 10px
// TIPOS MADEIRA //
// TIPOS MADEIRA //
// TIPOS MADEIRA //
.madeiras-step
	+size(100% 100vh)
	.topic-header
		padding: 5% 20px
		+media($mobile)
			display: none
		ul
			display: block
			li
				list-style: none
				display: inline-block
				font-weight: 800
				font-size: 16px
				color: #575756
				text-transform: uppercase
				line-height: 24px
				margin-top: 5px
				&:before
					content: ' '
					display: block
					float: left
					+size(15px 15px)
					margin: 5px 15px
					background-color: $blueGray
	.left
		+span-columns(4)
		+shift(0)
		border-top: 2px solid #687476
		+media($mobile)
			+span-columns(8)
		.content-resume-servicos
			padding-left: 40px
			padding-top: 0
			.title
				padding: 20px 0
				h2
					font-family: $anton
					text-transform: uppercase
					font-size: 46px
					color: $brown
				+media($mobile)
					padding: 100px 0 0
					&:before
						content: " "
						+position(absolute, 120px null null -20px)
						display: block
						+size(40px 4px)
						background-color: $blueGray
					h2
						font-size: 25px
					&:before
						top: 120px
						left: -10px
			.content
				padding-right: 70px
				p
					font-family: $font
					font-size: 16px
					line-height: 35px
					margin-bottom: 10px
					text-transform: uppercase
					+media($mobile)
						font-size: 18px
						line-height: 34px
				.more-details
					display: block
					margin: 50px auto 0
					text-align: center
					+media($mobile)
						display: none
					a
						font-weight: 200
						color: $beige
						font-size: 20px
						text-transform: uppercase
						background-color: $blueGray
						padding: 10px 10px
	.right
		+span-columns(8)
		padding-top: 2vh
		+media($mobile)
			+span-columns(8)
		.img-full
			height: 270px
			overflow: hidden
			margin-bottom: 60px
			position: relative
			z-index: 1
			img
				+position(absolute, null null 0 null)
				z-index: 0
		.title
			position: relative
			+span-columns(11)
			+shift(1)
			margin-left: 9.1%
			margin-bottom: 25px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			+media($mobile)
				+span-columns(7)
				+shift(1)
				h2
					font-size: 25px
				&:before
					top: 17px
					left: -50px
		.content
			p
				font-family: $font
				font-size: 16px
				line-height: 32px
				margin-bottom: 10px
				padding: 0 70px
				text-align: justify
				+media($mobile)
					padding: 0 40px
			h4
				text-transform: uppercase
				font-size: 18px
				color: $brown
				padding: 0 70px
				font-weight: 800
				margin-top: 30px
				margin-bottom: 10px
				+media($mobile)
					padding: 0 40px
// BLOG //
// BLOG //
// BLOG //
.blog-step
	+size(100% 100vh)
	.left
		+span-columns(4)
		+shift(0)
		+media($mobile)
			float: left !important
			display: block !important
			margin-right: 3.5786636068% !important
			width: 100% !important
			padding: 20% 0 10%
		.topic-header
			padding: 10% 20px
			border-bottom: 2px solid #687476
			+media($mobile)
				display: none
			ul
				li
					list-style: none
					font-weight: 800
					font-size: 16px
					color: #575756
					text-transform: uppercase
					line-height: 24px
					margin-top: 5px
					&:before
						content: ' '
						display: block
						float: left
						+size(15px 15px)
						margin: 5px 15px
						background-color: $blueGray
		.content-resume-categoria
			padding-left: 40px
			.title
				padding: 20px 0
				h2
					font-family: $anton
					text-transform: uppercase
					font-size: 46px
					color: $brown
				+media($mobile)
					padding: 40px 0 0 !important
					&:before
						content: " "
						+position(absolute, 120px null null -20px)
						display: block
						+size(40px 4px)
						background-color: $blueGray
					h2
						font-size: 25px !important
					&:before
						top: 120px
						left: -10px
			.content
				padding-right: 70px
				+media($mobile)
					display: none
				p
					font-family: $font
					font-size: 18px
					line-height: 35px
					margin-bottom: 10px
					text-transform: uppercase
					+media($mobile)
				.more-details
					display: block
					margin: 50px auto 0
					text-align: center
					+media($mobile)
						display: none !important
					a
						font-weight: 200
						color: $beige
						font-size: 20px
						text-transform: uppercase
						background-color: $blueGray
						padding: 10px 10px
		.content-resume-servicos
			padding-left: 40px
			padding-top: 10vh
			.title
				padding: 20px 0
				h2
					font-family: $anton
					text-transform: uppercase
					font-size: 46px
					color: $brown
			.content
				padding-right: 70px
				p
					font-family: $font
					font-size: 27px
					line-height: 54px
					margin-bottom: 10px
					text-transform: uppercase
				.more-details
					display: block
					margin: 50px auto 0
					text-align: center
					a
						font-weight: 200
						color: $beige
						font-size: 20px
						text-transform: uppercase
						background-color: $blueGray
						padding: 10px 10px
	.right
		+span-columns(8)
		+media($mobile)
			float: left !important
			display: block !important
			margin-right: 3.5786636068% !important
			width: 100% !important
			padding: 20px 0 0
		.banner-categoria-produtos
			+media($mobile)
				margin-top: -100px
			.slide
				.img
					background-image: url(../img/banner-full.jpg)
					+size(100% 100vh)
					background-position: center center
					+media($mobile)
						height: 90vh !important
						background-repeat: no-repeat
						background-size: 650px
.second-step-blog
	margin-top: 60px
	+media($mobile)
		margin-top: 0
	.left
		+span-columns(6)
		+media($mobile)
			+span-columns(8)
		.title
			position: relative
			+span-columns(11)
			+shift(1)
			margin-left: 11.1%
			margin-bottom: 25px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			+media($mobile)
				+span-columns(7)
				+shift(1)
				h2
					font-size: 25px
				&:before
					top: 17px
					left: -50px
		.post
			+span-columns(12)
			position: relative
			height: 300px
			max-height: 300px
			margin-bottom: 30px
			overflow: hidden
			+media($mobile)
				+span-columns(7)
				height: 220px
				max-height: 220px
				margin: 7%
			img
				+position(absolute, 0 0 0 0)
				+size(100% 100%)
			.title-static
				+transition(all .5s ease)
				+position(absolute, null null 15px 20px)
				+media($mobile)
					display: none
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
			.overlay-product
				+position(absolute, -100% null null 0)
				+size(100% 100%)
				background-color: rgba($blueGray, .85)
				padding: 25px 20px
				+transition(all .5s ease)
				+media($mobile)
					top: 0
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
				p
					font-family: $font
					font-size: 14px
					line-height: 26px
					margin-bottom: 10px
					color: $white
				img
					+size(59px 14px)
					position: relative
			&:hover
				.title-static
					bottom: -35px
				.overlay-product
					top: 0
	.right
		+span-columns(6)
		margin-top: 78px
		+media($mobile)
			+span-columns(8)
			margin-top: 0
		.post
			+span-columns(12)
			position: relative
			height: 300px
			max-height: 300px
			margin-bottom: 30px
			overflow: hidden
			+media($mobile)
				+span-columns(7)
				height: 220px
				max-height: 220px
				margin: 7%
			img
				+position(absolute, 0 0 0 0)
				+size(100% 100%)
			.title-static
				+transition(all .5s ease)
				+position(absolute, null null 15px 20px)
				+media($mobile)
					display: none
				h2
					color: $brown
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
			.overlay-product
				+position(absolute, -100% null null 0)
				+size(100% 100%)
				background-color: rgba($blueGray, .85)
				padding: 25px 20px
				+transition(all .5s ease)
				+media($mobile)
					top: 0
				h2
					color: $white
					font-family: $anton
					text-transform: uppercase
					font-size: 20px
				p
					font-family: $font
					font-size: 14px
					line-height: 26px
					margin-bottom: 10px
					color: $white
				img
					+size(59px 14px)
					position: relative
			&:hover
				.title-static
					bottom: -35px
				.overlay-product
					top: 0

// PARCEIROS //
// PARCEIROS //
// PARCEIROS //
.parceiros-step
	+size(100% 100vh)
	.left
		+span-columns(4)
		+shift(0)
		+media($mobile)
			+span-columns(8)
		.topic-header
			padding: 10% 20px
			border-bottom: 2px solid #687476
			+media($mobile)
				display: none
			ul
				li
					list-style: none
					font-weight: 800
					font-size: 16px
					color: #575756
					text-transform: uppercase
					line-height: 24px
					margin-top: 5px
					&:before
						content: ' '
						display: block
						float: left
						+size(15px 15px)
						margin: 5px 15px
						background-color: $blueGray
		.content-resume-categoria
			padding-left: 40px
			.title
				padding: 20px 0
				h2
					font-family: $anton
					text-transform: uppercase
					font-size: 46px
					color: $brown
				+media($mobile)
					padding: 100px 0 0 !important
					&:before
						content: " "
						+position(absolute, 120px null null -20px)
						display: block
						+size(40px 4px)
						background-color: $blueGray
					h2
						font-size: 25px !important
					&:before
						top: 120px
						left: -10px
			.content
				padding-right: 70px
				p
					font-family: $font
					font-size: 18px
					line-height: 35px
					margin-bottom: 10px
					text-transform: uppercase
				.more-details
					display: block
					margin: 50px auto 0
					text-align: center
					+media($mobile)
						display: none
					a
						font-weight: 200
						color: $beige
						font-size: 20px
						text-transform: uppercase
						background-color: $blueGray
						padding: 10px 10px
		.content-resume-servicos
			padding-left: 40px
			padding-top: 10vh
			.title
				padding: 20px 0
				h2
					font-family: $anton
					text-transform: uppercase
					font-size: 46px
					color: $brown
			.content
				padding-right: 70px
				p
					font-family: $font
					font-size: 27px
					line-height: 54px
					margin-bottom: 10px
					text-transform: uppercase
				.more-details
					display: block
					margin: 50px auto 0
					text-align: center
					a
						font-weight: 200
						color: $beige
						font-size: 20px
						text-transform: uppercase
						background-color: $blueGray
						padding: 10px 10px
	.right
		+span-columns(8)
		+media($mobile)
			display: none
		.banner-categoria-produtos
			.slide
				.img
					background-image: url(../img/banner-full.jpg)
					+size(100% 100vh)
					background-position: center center
.second-step-parceiros
	margin-top: 200px
	.parceiro
		+span-columns(4)
		+media($mobile)
			+span-columns(8)
		img
			max-width: 100%
			margin-bottom: 10px
			+media($mobile)
				max-width: 80%
				float: right
		.title
			position: relative
			margin-left: 18.1%
			margin-bottom: 25px
			clear: both
			+media($mobile)
				margin-left: 9.1%;
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
				&:before
					content: " "
					+position(absolute, 22px null null -50px)
					display: block
					+size(40px 4px)
					background-color: $blueGray
			+media($mobile)
				padding: 5px 0 0 !important
				h2
					font-size: 25px !important
				&:before
					top: 120px
					left: -10px
		.content
			p
				font-family: $font
				font-size: 16px
				line-height: 32px
				margin-bottom: 40px
				padding: 0 70px
				+media($mobile)
					padding: 0 30px

// EMPRESA //
// EMPRESA //
// EMPRESA //
.empresa-step
	+size(100% 100vh)
	.left
		+span-columns(4)
		+shift(0)
		+media($mobile)
			display: none
		.topic-header
			padding: 10% 20px
			border-bottom: 2px solid #687476
			ul
				li
					list-style: none
					font-weight: 800
					font-size: 16px
					color: #575756
					text-transform: uppercase
					line-height: 24px
					margin-top: 5px
					&:before
						content: ' '
						display: block
						float: left
						+size(15px 15px)
						margin: 5px 15px
						background-color: $blueGray
		.content-resume-categoria
			padding-left: 40px
			.title
				padding: 20px 0
				h2
					font-family: $anton
					text-transform: uppercase
					font-size: 46px
					color: $brown
			.content
				padding-right: 70px
				p
					font-family: $font
					font-size: 18px
					line-height: 35px
					margin-bottom: 10px
					text-transform: uppercase
				.more-details
					display: block
					margin: 50px auto 0
					text-align: center
					a
						font-weight: 200
						color: $beige
						font-size: 20px
						text-transform: uppercase
						background-color: $blueGray
						padding: 10px 10px
		.content-resume-servicos
			padding-left: 40px
			padding-top: 10vh
			.title
				padding: 20px 0
				h2
					font-family: $anton
					text-transform: uppercase
					font-size: 46px
					color: $brown
			.content
				padding-right: 70px
				p
					font-family: $font
					font-size: 27px
					line-height: 54px
					margin-bottom: 10px
					text-transform: uppercase
				.more-details
					display: block
					margin: 50px auto 0
					text-align: center
					a
						font-weight: 200
						color: $beige
						font-size: 20px
						text-transform: uppercase
						background-color: $blueGray
						padding: 10px 10px
	.right
		+span-columns(8)
		+media($mobile)
			+span-columns(8)
		.banner-categoria-produtos
			.slide
				.img
					background-image: url(../img/banner-full.jpg)
					+size(100% 100vh)
					background-position: center center
					+media($mobile)
						background-size: 1080px
						background-repeat: no-repeat
						height: 80vh
.second-step-empresa
	margin-top: 80px
	+media($mobile)
		margin-top: -60px
	.left
		+span-columns(6)
		+media($mobile)
			+span-columns(8)
		.title
			position: relative
			+span-columns(11)
			+shift(1)
			margin-left: 11.1%
			margin-bottom: 25px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			+media($mobile)
				padding: 5px 0 0 !important
				h2
					font-size: 25px !important
				&:before
					top: 20px
					left: -60px
		.content
			p
				font-family: $font
				font-size: 16px
				line-height: 32px
				// margin-bottom: 40px
				padding: 0 70px
				+media($mobile)
					padding: 0 35px
	.right
		+span-columns(6)
		+media($mobile)
			+span-columns(8)
			margin-top: 30px
		.title
			position: relative
			+span-columns(11)
			+shift(1)
			margin-left: 11.1%
			margin-bottom: 25px
			clear: both
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $brown
			&:before
				content: " "
				+position(absolute, 22px null null -70px)
				display: block
				+size(40px 4px)
				background-color: $blueGray
			+media($mobile)
				padding: 5px 0 0 !important
				h2
					font-size: 25px !important
				&:before
					top: 20px
					left: -60px
		.content
			p
				font-family: $font
				font-size: 16px
				line-height: 32px
				margin-bottom: 40px
				padding: 0 70px
				+media($mobile)
					padding: 0 35px
.clients-empresa
	margin-top: 80px
	position: relative
	margin-bottom: 20px
	+media($mobile)
		display: none
	.gridD
		position: relative
	.title
		position: relative
		+span-columns(11)
		+shift(1)
		margin-left: 5.1%
		margin-bottom: 70px
		clear: both
		h2
			font-family: $anton
			text-transform: uppercase
			font-size: 35px
			color: $brown
		&:before
			content: " "
			+position(absolute, 22px null null -70px)
			display: block
			+size(40px 4px)
			background-color: $blueGray
	.slide-clients
		margin: 45px 0
		// padding: 45px 0
		// border-top: 2px solid $blueGray
		// border-bottom: 2px solid $blueGray
		.slide
			+size(100%/7 95px)
			float: left
	.border-top
		+size(100% 2px)
		background-color: $blueGray
		+position(absolute, 80px null null 0)
		opacity: .5
	.border-bottom
		+size(100% 2px)
		background-color: $blueGray
		+position(absolute, null null -255px 0)
		opacity: .5

// ONDEESTAMOS //
// ONDEESTAMOS //
// ONDEESTAMOS //
.ondeestamos-step
	+size(100% 100vh)
	.left
		+span-columns(4)
		+shift(0)
		+media($mobile)
			+span-columns(8)
		.topic-header
			padding: 10% 20px
			border-bottom: 2px solid #687476
			+media($mobile)
				display: none
			ul
				li
					list-style: none
					font-weight: 800
					font-size: 16px
					color: #575756
					text-transform: uppercase
					line-height: 24px
					margin-top: 5px
					&:before
						content: ' '
						display: block
						float: left
						+size(15px 15px)
						margin: 5px 15px
						background-color: $blueGray
		.content-resume-categoria
			padding-left: 40px
			.title
				padding: 20px 0
				+media($mobile)
					padding: 100px 0 0
				h2
					font-family: $anton
					text-transform: uppercase
					font-size: 46px
					color: $brown
				+media($mobile)
					margin-bottom: 30px
					h2
						font-size: 25px !important
					&:before
						top: 20px
						left: -60px
			.content
				padding-right: 40px
				p
					font-family: $font
					font-size: 16px
					line-height: 25px
					margin-bottom: 40px
					color: #829194
				.more-details
					display: block
					margin: 50px auto 0
					text-align: center
					+media($mobile)
						display: none
					a
						font-weight: 200
						color: $beige
						font-size: 20px
						text-transform: uppercase
						background-color: $blueGray
						padding: 10px 10px
		.content-resume-servicos
			padding-left: 40px
			padding-top: 10vh
			.title
				padding: 20px 0
				h2
					font-family: $anton
					text-transform: uppercase
					font-size: 46px
					color: $brown
			.content
				padding-right: 70px
				p
					font-family: $font
					font-size: 27px
					line-height: 54px
					margin-bottom: 10px
					text-transform: uppercase
				.more-details
					display: block
					margin: 50px auto 0
					text-align: center
					a
						font-weight: 200
						color: $beige
						font-size: 20px
						text-transform: uppercase
						background-color: $blueGray
						padding: 10px 10px
	.right
		+span-columns(8)
		+media($mobile)
			+span-columns(8)
		#map
			height: 100vh
			+media($mobile)
				height: 50vh



// MODAL //
// MODAL //
// MODAL //

.modal-orcamento
	background-color: rgba(11, 24, 33, 0.9)
	z-index: 999
	+size(100% 0)
	+position(fixed, 0 0 0 0)
	+transition(all .6s ease)
	opacity: 0
	visibility: hidden
	+media($mobile)
		display: none
	.box-orcamento
		$widthModal: 650px
		+size(650px 580px)
		background-color: $blueGray
		+position(absolute, 0 0 0 50%)
		+margin(-$widthModal/2)
		padding: 30px 30px 0 0
		+transition(all .5s ease .5s)
		.title
			position: relative
			+span-columns(12)
			+shift(0)
			// margin-left: 5.1%
			margin-bottom: 30px
			clear: both
			padding-left: 60px
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $beige
				letter-spacing: 1px
			&:before
				content: " "
				+position(absolute, 22px null null 0px)
				display: block
				+size(40px 4px)
				background-color: $beige
		.orcamento-form
			form
				padding: 0 30px 0 60px
				position: relative
				input
					+span-columns(12)
					height: 45px
					padding: 15px
					border: 2px solid $white
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					background-color: transparent
					color: $white
				select
					+span-columns(12)
					height: 45px
					// padding: 15px
					padding-left: 15px
					border: 2px solid $white
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					background-color: transparent
					color: $white
					option
						color: $black
				textarea
					+span-columns(12)
					padding: 15px
					border: 2px solid $white
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					max-height: 130px
					background-color: transparent
					color: $white
				button, input[type="submit"]
					+size(35px 30px)
					text-indent: -9999px
					background-image: url(../img/sprite.png)
					background-position: -202px 2px
					border: 0
					cursor: pointer
					background-color: transparent
					+position(absolute, null 50px -470px null)
				::-webkit-input-placeholder
				  color: $white
				::-moz-placeholder
				  color: $white
				:-ms-input-placeholder
				  color: $white
				:-moz-placeholder
				  color: $white
				.two-colums-form
					+span-columns(12)
					select
						+span-columns(6)
						&.last
							margin-left: 12px
			.close-modal
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $beige
				letter-spacing: 1px
				+position(absolute, 10px 20px null null)
				cursor: pointer
.opened-modal
	.modal-orcamento
		opacity: 1
		visibility: visible
		height: 100vh
		.box-orcamento
			top: 50%


.modal-cta
	background-color: rgba(11, 24, 33, 0.9)
	z-index: 999
	+size(100% 0)
	+position(fixed, 0 0 0 0)
	+transition(all .6s ease)
	opacity: 0
	visibility: hidden
	.box-cta
		$widthModal: 650px
		+size(650px 330px)
		background-color: $blueGray
		+position(absolute, 0 0 0 50%)
		+margin(-$widthModal/2)
		padding: 30px 30px 0 0
		+transition(all .5s ease .5s)
		.title
			position: relative
			+span-columns(12)
			+shift(0)
			// margin-left: 5.1%
			margin-bottom: 30px
			clear: both
			padding-left: 60px
			h2
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $beige
				letter-spacing: 1px
			&:before
				content: " "
				+position(absolute, 22px null null 0px)
				display: block
				+size(40px 4px)
				background-color: $beige
		.cta-form
			form
				padding: 0 30px 0 60px
				position: relative
				input
					+span-columns(12)
					height: 45px
					padding: 15px
					border: 2px solid $white
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					background-color: transparent
					color: $white
				select
					+span-columns(12)
					height: 45px
					// padding: 15px
					padding-left: 15px
					border: 2px solid $white
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					background-color: transparent
					color: $white
					option
						color: $black
				textarea
					+span-columns(12)
					padding: 15px
					border: 2px solid $white
					font-family: $font
					font-weight: 100
					font-size: 18px
					margin-bottom: 15px
					min-height: 140px
					background-color: transparent
					color: $white
				button, input[type="submit"]
					+size(35px 30px)
					text-indent: -99999px
					background-image: url(../img/sprite.png)
					background-position: -202px 2px
					border: 0
					cursor: pointer
					background-color: transparent
					+position(absolute, null 50px -200px null)
				::-webkit-input-placeholder
				  color: $white
				::-moz-placeholder
				  color: $white
				:-ms-input-placeholder
				  color: $white
				:-moz-placeholder
				  color: $white
				.two-colums-form
					+span-columns(12)
					select
						+span-columns(6)
			.close-modal
				font-family: $anton
				text-transform: uppercase
				font-size: 35px
				color: $beige
				letter-spacing: 1px
				+position(absolute, 10px 20px null null)
				cursor: pointer

.opened-cta-nav
	.modal-cta
		opacity: 1
		visibility: visible
		height: 100vh
		.box-cta
			top: 50%

.social-nav
	position:relative
	bottom:30px
	a
		margin:10px
		color:#fff
		font-size:30px

				